Repository remarkablemark/inline-style-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

chore: replace `npm-package-template` with `inline-style-parser`
  README.md
  index.js
  package.json
  test/index.js
Due: npm run lint:fix, prettier --write

test(index): disable placeholder test suite
  test/index.js
Due: npm run lint:fix

feat(index): copy `parse` module from `css` package
  index.js
Due: npm run lint:fix

chore(index): fix lint errors
  index.js
Due: npm run lint:fix

feat(index): parse only declarations and remove all unused code
  index.js
Due: npm run lint:fix

docs(index): update JSDoc with @param and @return tags
  index.js
Due: npm run lint:fix

build(package): save `css@2.2.4` to devDependencies
  package.json
Due: none

test: add cases and compare parser output with `css.parse` output
  test/data.js
  test/index.js
Due: npm run lint:fix

refactor(index): rename parameter `css` to `style`
  index.js
Due: npm run lint:fix

chore(git): update `.huskyrc` to run `npm test` during pre-commit
  .huskyrc
Due: none

perf(index): precompile regex by assigning them to variables
  index.js
Due: npm run lint:fix

refactor(index): replace hardcoded strings with constants
  index.js
Due: npm run lint:fix

test: replace `mocha` and `nyc` with `jest`
  .eslintrc
  package.json
  test/index.spec.js
Due: npm run lint:fix

test(index): refactor tests and use `expect` and `it.each`
  test/index.spec.js
Due: npm run lint:fix

ci(travis): fix test script to run `npm run test:ci`
  .travis.yml
Due: none

fix(index): do not throw an error if a comment precedes the colon
  index.js
Due: npm run lint:fix

test(index): check that a comment before colon is parsed correctly
  test/__snapshots__/index.spec.js.snap
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

test: add snapshots for the parsed output of multiple declarations
  test/__snapshots__/index.spec.js.snap
  test/data.js
Due: npm run lint:fix

test: add snapshot for the parsed output of a single declaration
  test/__snapshots__/index.spec.js.snap
  test/data.js
Due: npm run lint:fix

test(index): add more misc and one-off test cases
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

test(index): verify that expected errors are thrown
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

test: organize tests with describe blocks and tidy test names
  test/__snapshots__/index.spec.js.snap
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

feat(index): throw error if first argument is not a string
  index.js
Due: npm run lint:fix

test(index): check that the error message matches
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

test(package): collect coverage from `index.js` only
  package.json
Due: none

chore(git): update `.huskyrc` to run `test:coverage` in pre-commit
  .huskyrc
Due: none

test(index): test "End of comment missing" error and silent option
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

docs(index): update JSDoc with @throws errors
  index.js
Due: npm run lint:fix

build(package): save devDependencies for `rollup` and its plugins
  package.json
Due: none

chore(lint): set parserOptions.sourceType to "module" in .eslintrc
  .eslintrc
Due: none

build(rollup): add `rollup.config.js`
  rollup.config.js
Due: npm run lint:fix

build(package): add `build` and `clean` scripts
  package.json
Due: none

docs(readme): add description, installation, testing, and release
  README.md
Due: prettier --write

build(package): add script `prepublishOnly` and "files" field
  package.json
Due: none

build(package): update `build:min` to generate sourcemap (external)
  package.json
Due: none

build(package): set `NODE_ENV=development` in script `build:unmin`
  package.json
Due: none

test(data): add more cases for 'content' and 'background-image'
  test/data.js
Due: npm run lint:fix

ci(travis): lint last commit message from history with `commitlint`
  .travis.yml
Due: none

chore(release): 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): fix whitelisting of `/dist` in "files" field
  package.json
Due: none
