Repository remarkablemark/inline-style-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

ci(travis): run build as the last step in `script`
  .travis.yml
Due: none

chore(examples): add `examples/index.html`
  examples/index.html
Due: none

docs(readme): add links to JSFiddle, Repl.it, and examples
  README.md
Due: prettier --write

chore(release): 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): remove $ in code blocks
  README.md
Due: prettier --write

ci(github): add workflow commitlint.yml
  .github/workflows/commitlint.yml
Due: none

ci(github): add workflow lint.yml
  .github/workflows/lint.yml
Due: none

ci(github): fix workflow lint.yml
  .github/workflows/lint.yml
Due: none

ci(github): add workflow test.yml
  .github/workflows/test.yml
Due: none

ci(github): fix workflow test.yml
  .github/workflows/test.yml
Due: none

ci(github): update workflow commitlint.yml
  .github/workflows/commitlint.yml
Due: none

ci(github): add workflow build.yml
  .github/workflows/build.yml
Due: none

ci(travis): delete .travis.yml
  .travis.yml
Due: none

docs(readme): update status badges
  README.md
Due: prettier --write

ci(github): add workflow release.yml
  .github/workflows/release.yml
Due: none

build(package): remove standard-version
  package.json
Due: none

docs(readme): update release
  README.md
Due: prettier --write

docs(readme): replace shield badges with badgen
  README.md
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: none

ci(github): add mergify.yml
  .github/mergify.yml
Due: none

chore: update .commitlintrc.json
  .commitlintrc.json
Due: none

chore: rename .eslintrc to .eslintrc.json
  .eslintrc.json
Due: none

chore: rename .prettierrc to .prettierrc.json
  .prettierrc.json
Due: none

style: fix prettier lint errors
  .prettierrc.json
  index.js
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

chore: rename .lintstagedrc to .lintstagedrc.json
  .lintstagedrc.json
Due: none

chore: migrate husky to 8
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

build(package): bump lint-staged from 8.2.1 to 13.2.1
  .lintstagedrc.json
  package.json
Due: none

test(index): update snapshots in index.spec.js.snap
  test/__snapshots__/index.spec.js.snap
Due: none

build(package): remove .npmrc and save package-lock.json
  .npmrc
  package-lock.json
Due: none

chore(github): update CODEOWNERS
  .github/CODEOWNERS
Due: none

build(package): upgrade prettier
  package-lock.json
  package.json
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: none

build(package): remove caret from devDependencies version
  package-lock.json
  package.json
Due: none

build(rollup): upgrade rollup, replace plugins, and generate sourcemap
  package-lock.json
  package.json
  rollup.config.js
  rollup.config.mjs
Due: npm run lint:fix

test(index): test option source and update snapshots
  test/__snapshots__/index.spec.js.snap
  test/data.js
  test/index.spec.js
Due: npm run lint:fix

feat(index): create type declaration file `index.d.ts`
  index.d.ts
Due: none

build(package): remove `coveralls` from devDependencies
  package-lock.json
  package.json
Due: none

test: rename files from spec to test
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: npm run lint:fix

chore: remove .npmignore
  .npmignore
Due: none
